SERVERS_HOST=localhost
SERVERS_STARTING_PORT=8080
SERVERS_COUNT=4

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=admin
DB_NAME=gogame

JWT_SECRET=your_jwt_secret_here

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis